<h1>Show Method</h1>

<%= @articles.name %><br/>
<%= @articles.url %><br/>

<%= link_to 'Create More!!!', new_article_path, class: 'button' %><br/>
<%= link_to 'Return to Form', new_article_path, class: 'button' %><br/>
<%= link_to 'Go to Article List', articles_path, class: 'button' %><br/>
